header, footer {
    background-color: #023047;
    color: #219ebc;
    padding: 1rem 2%;
}
h1, h2, h3 {
    font-family: 'Patua One', cursive;
}
p {
    font-family: 'Merriweather', serif;
}
.maxSize {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* header rules here */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: 70px;
    margin-right: 10px;
}
.heading {
    display: flex;
    flex-direction: column;
}
header h1 {
    margin: 0; 
    font-size: 1.5rem;
    color: #219ebc;
    text-align: left;
}
header h2 {
    margin: 0; 
    font-weight: normal; 
    font-size: .9rem;
    color: #219ebc;
    text-align: left;
}
header button {
    background-color: #023047;
    border: none;
    font-size: 1.6rem;
    color: #219ebc;
    display: block;
    margin: 0;
    margin-left: 3%;
    font-size: 2rem;
}
/* nav rules here */
nav {
    background-color: #8ecae6;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav a {
    color:#023047;
    display: block;
    padding: 0.6rem 0;
    text-decoration: none;
}
nav a:hover {
    background-color: #023047;
    color: #219ebc;
}
.active {
    color: #ffbf1f;
    background-color: #023047;
}
.disabled {
    display: none;
}
/* main rules here */
.placeholder {
    border: 2px dashed #000;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 2%
}
main h1, h2, h3, p {
    color: #023047;
}
/* footer rules here */

footer p {
    text-align: center;
    font-size: 0.8em;
    color: #8ecae6;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
