/* list.scss */



.cd-elements ol {
	position: relative;
	list-style: decimal;
	margin-left: 0;
	padding-left: 1.2em;
}


.cd-elements ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.cd-elements ul li:before {
	content: " 	\2740";
	position: absolute;
	left: 0;
}