/* adds basic stylnig option for notes asignments
additional styling may be added over time */
body {
    margin: auto 0;
    text-align: center;
}
main {
    margin: auto 0;
    max-width: 680px;
}
li {
    text-align: left;
}