/* adds basic stylnig option for notes asignments
additional styling may be added over time */
body {
    margin: auto 0;
    text-align: center;
}
ul {
    padding-left: 20%;
}
li {
    text-align: left;
}
.ad4 {
    position: relative;
}

.no-geolocation .ad4 {
    display: none;
}

.ad4 h1 {
    font-size: 20px;
    font-family: AcknowledgementMedium;
    text-align: center;
}
form {
    font: 1em sans-serif;
    max-width: 320px;
  }
  
  p > label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }