@media only screen and (min-width: 1024px) {

    header, main, footer {
        max-width: 1024px;
        margin: auto;
    }
    .example_logo {
        margin: 0;
    }
    .example_1 {
        visibility: hidden;
    }
    nav {
        max-width: 1070px;
        margin: auto;
    }
    main h1, h2, h3, p {
        text-align: left;
        margin: 2%;
    }
}