@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

h1, h3, p {
    font-family: 'Cormorant Garamond', serif; 
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: white;
}

hr {
    max-width: 75%;
    border-style: solid;
    margin: -8% auto 0 auto;
    color: white;
}

body {
    margin: 4%;
    background-color: #6A4E73;
}
main {
    margin: 0;
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #6A4E73;
}

.todo_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    list-style: none;
    padding: 0;
    
}

.todo_card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #FF9793;
    border-radius: 1rem;
    width: 320px;
}

.todo_card input {
    width: 2.5rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;

}

.todo_card input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.todo_card label::before,
.todo_card label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}
.todo_card label::before{
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
    left: 17px;
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 10px;
}

.todo_card label::after {
    height: 12px;
    width: 18px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    color: white;
    transform: rotate(-45deg);
    
    left: 22px;
    top: 16px;
}

/*Hide the checkmark by default*/
.todo_card input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.todo_card input[type="checkbox"]:checked + label::after {
    content: "";
}
/*Unhide on the checked state*/
.todo_card input[type="checkbox"]:checked + label::before {
    background-color: #039313;
}



.todo_card h3 {
    font-size: 1.6rem;
    margin: 0 1rem;
    width: 100%;
    
}

.todo_card button {
    width: 2rem;
    height: 2rem;
    border: none;
    box-shadow: 0 0 0 2px #A60701;
    background-color: #A60701;
    color: white;
    font-size: 0.9rem;
    border-radius: 50%;
    cursor: pointer;
}

.done {
    background-color: #A2FF9C;
}

.done h3 {
    text-decoration: line-through;
}

#task-list-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: lightblue;
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 1rem;
    height: 39px;
}

#task-list-footer button{
    background-color: lightblue;
    border-top: none;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
    padding: 8.5px;
    border-radius: inherit;
}

#task-list-footer button:hover {
    background-color: #6B2E80;
    color: white;
}

#tasks-left {
    margin: 0 auto 0 20px;
    line-height: .5px;
}

.add_todo {
    display: grid;
    grid-template-columns: auto 60px;
    grid-gap: 5px;
}

#todo_input {
    height: 35px;
    border-radius: .7rem;
    font-size: 1rem;
    padding: 10px;
}

.todo_submit {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    align-content: center;
    border: none;
    border-radius: 50%;
    background-color: #3A373B;
    color: white;
}

.hidden {
    display: none;
}

@media screen and (min-width: 600px) {
    body {
        background-color: #6A4E73;
    }
}