


h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}
h2 {
    font-size: 1rem;
    border-bottom: 1px solid #3b1f5b;
    margin-bottom: 0.5rem;
}
nav {
    padding: .5em;
}
main h2 {
    padding-top: .5em;
}
body {
    
    margin: 0 auto;
    background-color: #f5e2c8;
    color:#3b1f5b;
}
header {
    background-color:#3b1f5b;
    color:#f5e2c8;
    padding: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0;
    font-family: 'Permanent Marker', cursive;
}
#subheader{
    color:#3b1f5b;
    padding-left: 20px;
    font-family: 'Architects Daughter', cursive;
}
nav ul li {
    color:#3b1f5b;
    padding-bottom: 5px;
 }
.assignments:visited {
    color: #3b1f5b;
}
.assignments:hover {
    color: #f861b2;
}
.assignments {
    color: blue;
    font-family: 'Merriweather', serif;
}
#matthew {
    height: auto;
    width: 210px;
}

footer {
    font-size: 0.9em;
    text-align: center;
    background-color: #3b1f5b;
    padding: .8em;
    color: #f5e2c8;
}
#slink:visited {
    color:#f5e2c8;
}
#slink {
    color:#f5e2c8;
}
#slink:hover {
    color:aquamarine;
}
#modified {
    font-size: 0.8em;
    text-align: center;
    color: #f861b2;
    vertical-align: middle;
}

