
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cinzel&family=Frank+Ruhl+Libre&family=Merriweather&family=Permanent+Marker&display=swap');

@media (min-width: 800px) {
    nav {
        padding: .5em;
    }
    main h2 {
        padding-top: .5em;
    }
    body {
        width: 800px;
        margin: 0 auto;
        background-color: #f5e2c8;
        color:#3b1f5b;
    } 
}
#pheader {
    background-color:#3b1f5b;
    color:#f5e2c8;
    border-radius: 15px;
    padding: 1.2em;
    text-align: center;
    display: block;
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
}
#subheader{
    color:#3b1f5b;
    padding-left: 20px;
    font-family: 'Architects Daughter', cursive;
}
nav ul li {
    color:#3b1f5b;
    padding-bottom: 5px;
 }
.assignments:visited {
    color: #3b1f5b;
}
.assignments:hover {
    color: #f861b2;
}
.assignments {
    color: blue;
    font-family: 'Merriweather', serif;
}
#matthew {
    height: 210px;
    width: auto;
    box-shadow: 4px 8px 20px rgba(0,0,0,1);
    float: right;
    border-radius: 15px;
    margin-right: 55px;
    margin-top: 40px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    background-color: #3b1f5b;
    padding: .8em;
    border-radius: 15px;
    color: #f5e2c8;
    vertical-align: middle;
}
#slink:visited {
    color:#f5e2c8;
}
#slink {
    color:#f5e2c8;
}
#slink:hover {
    color:aquamarine;
}
#modified {
    font-size: 0.7em;
    text-align: center;
    color: #f861b2;
    vertical-align: middle;
}

