# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env