@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Press+Start+2P&display=swap');

body {
    margin-right: auto;
    margin-left: auto;
}
h1, h2 {
    font-family: 'Press Start 2P', cursive;
}
p {
    font-family: 'Fuzzy Bubbles', cursive;
}
header {
    background-color: crimson;
    padding-bottom: 5px;
    border-bottom: black solid 2px;
}
header h1,header h2,header p {
    margin: 0;
    text-align: center;
} 
header h1,header h2 {
    color: white;
    font-size: 3em;
    text-shadow: 6px 6px black;
    padding: 4%
}
header p {
    color: white;
    padding: 4%;
    
}
.dex_header {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
    align-items: center;
}
.dex_header button {
    font-family: 'Fuzzy Bubbles', cursive;
    display: block;
    color: white;
    font-size: .8em;
    background-color: black;
    border: 1px white solid;
    padding: 14px;
    margin-left: 1%;
    margin-right: 1%;
}
#allBtn{
    padding-left: 22px;
    padding-right: 22px;
}
main {
    background-color: rgba(54, 52, 52, 0.904);
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
}
ul {
    grid-column: 2/3;
    list-style: none;
    justify-self: right;
    align-self: center;
}

.card {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    border: black solid 1px;
    background-color: lightslategray;
    border-radius: 50%;
    height:250px;
    width: 250px;
    font-weight: 600;
    justify-content: center;
    align-self: center;
    
}
.card .typeOne {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: left;
    height: 23.4px;
    width: 62.4px;
}
.card .typeTwo {
    grid-column: 4/5;
    grid-row: 5/6;
    justify-self: right;
    height: 23.4px;
    width: 62.4px;
}

.card input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}
.card .checkOne {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: left;
    height: 60px;
    width: 60px;
}
.card .checkOne[type="checkbox"] + .ball_icon {
    filter: grayscale(100%);
}
.card .checkOne[type="checkbox"]:checked + .ball_icon {
    filter: grayscale(0%);
}
.ball_icon {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: left;
    height: auto;
    width: 60px;
    border-radius: 50%;
}

.card .checkTwo {
    grid-column: 4/6;
    grid-row: 3/4;
    justify-self: right;
    height: 60px;
    width: 60px;
}
.card .checkTwo[type="checkbox"] + .shiny_icon {
    filter: grayscale(100%);
}
.card .checkTwo[type="checkbox"]:checked + .shiny_icon {
    filter: grayscale(0%);
}

.shiny_icon {
    grid-column: 4/6;
    grid-row: 2/5;
    justify-self: right;
    align-self: center;
    height: auto;
    width :80px;
    border-radius: 50%;
}

.uncollected {
    filter: brightness(0);
}

.sprites {
    grid-column: 2/5;
    grid-row: 2/5;
    justify-self: center;
    align-self: center;
    padding-top: 20px;
    height: auto;
    width: 100px;
}
.card h1 {
    text-align: center;
    grid-column: 2/5;
    grid-row: 1/2;
    font-size: .8em;
    padding-top: 0px;
    text-shadow: black  2px 2px;
    color: white;
    font-family: 'Fuzzy Bubbles', cursive;
}
.card h2 {
    text-align: center;
    grid-column: 2/5;
    grid-row: 1/3;
    font-size: 0.9em;
    padding-top: 20px;
    text-shadow: black  2px 2px;
    color: white;
    
    font-family: 'Fuzzy Bubbles', cursive;
}
.card .caught {
    grid-column: 2/5;
    grid-row: 1/2;
    height: auto;
    filter: brightness(0.5);
    width: 250px;
    justify-self: center;
}
.card .replace {
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 1;
    padding-top: 20px;
    text-shadow: black  2px 2px;
    width: 150px;
    font-size: .8em;
    text-align: center;
    color: white;
}
.card .gone {
    font-size: 1.2em;
}
.card .leave {
    grid-column: 2/5;
    grid-row: 4/6;
    justify-self: center;
}
footer {
    background-color: crimson;
    padding-bottom: 5px;
    border-top: black solid 2px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer button {
    font-family: 'Fuzzy Bubbles', cursive;
    display: block;
    color: white;
    font-size: .8em;
    background-color: black;
    border: 1px white solid;
    padding: 20px;
}
#prev {
    margin-right: 15%;
    padding-right: 40px;
    padding-left: 40px;
}
#next {
    margin-left: 15%;
    padding-right: 40px;
    padding-left: 40px;
}
@media only screen and (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    ul {
        grid-column: 1/3;
        columns: 2;
    }
    .card {
        margin: auto;
        margin-bottom: 20px;
    }
    header h1 {
        font-size: 4.5em;
        padding-top: 50px;
        padding-bottom: 10px;
    } 
    header p {
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 20px;
        
    } 
    footer button {
        font-size: 1em;;
    }
}
@media only screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    ul {
        grid-column: 1/4;
        columns: 3;
    }
    footer {
        padding: 30px;
    }
    .dex_header button {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
    footer button {
        font-size: 1.3em;;
    }
}

