
header, footer {
    background-color: #023047;
    color: #219ebc;
    padding: 1rem 2%;
}

h1, h2, h3, h4 {
    font-family: 'Patua One', cursive;
}
p {
    font-family: 'Merriweather', serif;
}
.maxSize {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.center {
    margin: 0 auto;
}
/* header rules here */
div.showme {
    display: block;
}
div.hideme{
    display: none;
}
div#popup {
    background-color: #ffbf1f;
    color: #023047;
    text-align: center;
    font-size: 1.1em;
}
header {
    padding: .5rem 2%;
}
header img {
    width: 70px;
    margin-right: 10px;
}
.heading {
    flex-direction: column;
}
header h1 {
    margin: 0; 
    font-size: 1.5rem;
    color: #219ebc;
    text-align: left;
    padding-top: 10px;
}
header h2 {
    margin: 0; 
    font-weight: normal; 
    font-size: .9rem;
    color: #219ebc;
    text-align: left;
}

/* nav rules here */
nav {
    background-color: #8ecae6;
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav a {
    color:#023047;
    display: block;
    padding: 0.6rem 0;
    text-decoration: none;
}
nav a:hover {
    background-color: #023047;
    color: #219ebc;
}
.active {
    color: #ffbf1f;
    background-color: #023047;
}
.disabled {
    display: none;
}
nav button {
    background-color: #023047;
    border: none;
    font-size: 1.6rem;
    color: #219ebc;
    display: block;
    margin: 0;
    font-size: 2rem;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

/* main rules here */
main h1, h2, h3, h4, p {
    padding-left: 10px;
}
.hero_summary {
    position: relative;
}
.hero_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 10px auto;
    max-width: 56rem
}
.hero_img img {
    display: block;
    width: 100%;
}
.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #023047; 
    width: 18rem;
    background-color:#8ecae6;
    margin: 8px auto;
    position: absolute;
    top: -8px;
    left: 30px;
    opacity: 0.9;
}
.summary h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: center;
}
.label {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 600;
    line-height: .2;
}
.label_data {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    padding-left: 5px;
    font-weight: 500;
    line-height: .2;
}
.w_icon {
    width: 60px;
}
.w_box {
    border: 2px solid #023047;
    width: 110px;
    height: 175px;
    text-align: center;
    background-color: #8ecae6;
}
.forecast {
    display: none;
}

.contact_us h2 {
    margin: 0;
    margin-top: 10px;
}
.contact_whole {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2%;
    gap: 20px;
}
.address {
    grid-column: 1/2;
    font-size: .8em;
    text-align: left;
    width: 140px;
}
.method {
    grid-column: 2/3;
    font-size: .8em;
    text-align: left;
}
.googlemap {
    display: none;
    grid-column: 1/3;
    width: 100%;
}
.article {
    display: inline;
}
.top {
    display: none;
}
.topl {
    display: none;
}
.bottom {
    width: 100%;
}

.placeholder {
    border: 2px dashed #000;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 2%
}
main h1, h2, h3, h4, p {
    color: #023047;
}
/* footer rules here */

footer p {
    text-align: center;
    font-size: 0.8em;
    color: #8ecae6;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/*Gallery only*/
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
}

.gallery figure img {
    display: block;
    filter: blur(0em);
    transition: filter 2s;
    width: 100%;
    margin: 0;
}

.gallery figure img[data-src] {
    filter: blur(0.2em);
}
/*-------stormcenter------*/

form label.ftop input:required {
    border-left: #ffbf1f solid 6px;
}
form label.ftop input:required:valid {
    border-left: #023047 solid 6px;
}
form fieldset {
    margin: 2rem 0;
    margin-left: 10px;
    border: 1px solid #023047;
    background-color: #8ecae6;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 21rem;
}
form legend {
    color: #8ecae6;
    background-color: #023047;
    border-radius: 7px;
    margin: 0 1rem;
    padding: 5px 20px 5px 20px;;
    font-size: 1.7em;
}
form label.ftop, form div {
    display: block;
    padding-top: 1rem;
    color: #023047;
    font-weight: 600;
    font-size: 1rem;
}
form label.ftop input, form label.ftop select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #023047;
    border-radius: 4px;
    padding: .75rem;
    color: #023047;
    width: 100%;
    max-width: 19rem;
    
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    font-weight: 600;
    color: #023047;
}
form textarea {
    width:  90%;
    height: 250px;
    display: block;
    border: solid 1px #023047;
    max-width: 19rem;
}
form input.submitBtn {
    border: none;
    border-radius: 5px;;
    background-color: #023047;
    color: #8ecae6;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 25rem;
    font-size: 1.7em;
}
form input.submitBtn:hover {
    background-color: #ffbf1f;
    color: #023047;
    border: 2pt solid #023047;
    cursor: pointer;
}
.slider {
    width: 100%;
    max-width: 20rem;
    padding:10px;
    display: block;
}
/*-------Home--------*/
.cards {
    display: block;
    text-align: center;
}
.cards section {
    background-color: #8ecae6;
    border: 2px solid #023047;
    margin: 5px;
    max-width: 340px;
    margin: 10px auto;
}
.cards section:hover {
    box-shadow: 0 0 50px #000;
}

.card-image { 
    width: 100%;
}
