header, footer {
    background-color: #023047;
    color: #219ebc;
    padding: 1rem 2%;
}
h1 h2 h3 {
    font-family: 'Patua One', cursive;
}
p {
    font-family: 'Merriweather', serif;
}
/* header rules here */
header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}
header h1 {
    margin: 0; 
    font-size: 1.5rem;
    color: #219ebc;
    text-align: left;
}
header h2 {
    margin: 0; 
    font-weight: normal; 
    font-size: 1rem;
    color: #219ebc;
    text-align: left;
}

/* nav rules here */
nav {
    background-color: #219ebc;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
nav a{
    color:#023047;
    display: block;
    padding: 0.60rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #023047;
    color: #ffbf1f;
}
.active {
    color: #219ebc;
    background-color: #023047;
}

/* main rules here */
.example_logo {
    width: 200px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.example_color {
    width: 100%;
}
.example_1 {
    color: #023047;
}
main h1, h2, h3, p {
    text-align: center;
    color: #023047;
}

/* footer rules here */
footer p {
    text-align: center;
    font-size: 0.8em;
    color: #8ecae6;
}
#modified {
    color: #ffbf1f;
    vertical-align: middle;
}