/* typography.scss */
h1, h2, h3 {
  font-family: $secondary-font;
  color: $color-2;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;

  @include MQ(S) {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}
h3 {
  text-transform: uppercase;
  margin: 1em 0;

  @include MQ(S) {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1em 0 1.4em;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: $color-2;
  font-weight: bold;

  a {
    // color: $color-1;
    text-decoration: underline;
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

li {
  font-weight: bold;
}
