// color palette - these colors will be the color swatches of the Colors section

$color-1: #70308C; 
$color-2: #310E40; 
$color-3: #5AA624; 
$color-4: #19590F; 
$color-5: #F2F2F2; 

// additional colors

$success: $color-4; 
$alert: #730255; 

// fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Rock Salt', cursive;

// From Tauni
$text-align: center;
$bottom-border:7px solid #000;